# local/dev application data folder
/_data

# yarn temporaries
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# https://yarnpkg.com/features/caching#zero-installs
#!.yarn/cache
.pnp.*

# vite output
.vite

# electron-forge output
out
node_modules
