@use "@carbon/react/scss/feature-flags" with (
  $feature-flags: (
    "enable-v12-tile-radio-icons": true,
    "enable-v12-structured-list-visible-icons": true,
  )
);
@use "@carbon/react" with (
  $font-path: "@ibm/plex",
  $use-per-family-plex: true
);
@use "@carbon/themes/scss/themes" as *;
@use "@carbon/themes";

:root[data-carbon-theme="white"] {
  @include themes.theme($white);
}

:root[data-carbon-theme="g10"] {
  @include themes.theme($g10);
}
:root[data-carbon-theme="g90"] {
  @include themes.theme($g90);
}
:root[data-carbon-theme="g100"] {
  @include themes.theme($g90);
}

.cds--content {
  margin-top: 3rem;
  padding: 0;
  //  background: var(--cds-background);
}
